// colors
$menu: #35404e;
$white: #fff;
$orange: #fea71a;
$black: #000;
$dark-blue: #294e7d;
$dark: #35404e;
$light-purp: #e8e7fa;
$purp: #706ad4;


// fonts
$title: 'Rubik', sans-serif;
$text: 'Poppins', sans-serif;