// colors
$menu: #35404e;
$white: #fff;
$orange: #fea71a;
$black: #000;
$dark-blue: #294e7d;
$dark: #35404e;
$light-purp: #e8e7fa;
$purp: #706ad4;
$bg: #f8f8fc;
$text-light: #8a8eaa;
$text-dark: #6e6e6e;
$light: #e3e3e3;
$danger-text: #a2231e;
$danger-bg: #f8d7da;


// fonts
$title: 'Rubik', sans-serif;
$text: 'Poppins', sans-serif;