@import "../utils/variables";

header {
    background: $white;
    box-shadow: 0px 10px 80px 0px rgba(215, 215, 215, 0.4);
    padding: 0.5rem 1rem;
    .logo {
        width: 80px;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: $menu !important;
    }
}