.tracker {
    .showcase {
        padding: 3rem 0;
        background: url("../../images/showcase.png");
    }
    .daily {
        .daily-item {
            padding: 1rem;
            margin: 1rem 0;
            border-width: 2px;
            border-style: solid;
            button {
                background: none;
                border: none;
                font-size: 1.5rem;
                color: $text-dark;
                @include center(y, relative);
            }
        }
        .cases {
            border-color: $orange;
        }
        .deaths {
            border-color: $light-red;
        }
        .recovered {
            border-color: $success;
        }
    }
    .chart {
        .chart-container {
            width: 100%;
            height: 350px;
        }
    }
    .country {
        .country-list {
            height: 700px;
            overflow: scroll;
            form {
               
            }
        }
    }
}